body
  background black

.background
  position fixed
  top 0
  left 0
  right 0
  bottom 0

  .background-holder
    position: absolute
    left 0
    right 0
    top 0
    bottom 0

    background-size cover
    background-repeat no-repeat
    background-position top center

    &.background-holder-1
      background-image url(/images/yuna1.jpg)

    &.background-holder-2
      opacity: 0
      background-image url(/images/yuna2.jpg)
