font-family-playfair = 'Playfair Display', serif
font-family-lato = 'Lato', sans-serif
header-height = 110px
footer-height = 50px
nav-button-height = 250px

*
  box-sizing border-box

p
  margin 0

a
  text-decoration none

  &:visited
    color: inherit

.clearfix
  &:after
    visibility hidden
    display block
    font-size 0
    content " "
    clear both
    height 0

html, body
  width 100%
  height 100%
  font-size 16px
  font-family font-family-lato

.main-content
  position relative
  height: 100%
  overflow-y hidden
  font-size 1.5rem
  text-align justify
  border: 30px solid white

  span
    transition color 250ms ease
    cursor default

    &:hover
      color: #898989 !important

  .content-border
    position absolute
    top 0
    width 100%
    height 100%
    //border: 30px solid white
    pointer-events: none

.yuna
  position absolute
  top 50%
  left 50%
  margin-left -160px
  margin-top -150px

  img
    border-radius 140px